/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Random ignore rule 46
# Random ignore rule 3928
# Random ignore rule 4626
# Random ignore rule 568
# Random ignore rule 7826
# Random ignore rule 2676
# Random ignore rule 5691
# Random ignore rule 9528
# Random ignore rule 7410
# Random ignore rule 5101
